name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    # uses: City-of-Helsinki/.github/.github/workflows/ci-node.yml@main
    uses: ./.github/workflows/ci-node.yml
    secrets: inherit
    with:
      node-version: 22.x
      use_sonar_default_config: false
